.dialogYesNo{
    overflow: hidden;
    h3{
        width: 100%;
        text-align: center;
    }
    button{
        width: 100%;
        text-align: center;
    }    
    .header{
        button{
            width: 50%;
        }
        
        
    }
}